.hh{
    height: 65px;  
}
.hbc{
    background-color: #1a5ca3;
}
.hi{
    margin-top: 1.9%;
    color: #6288a3;
    font-size: 15px;
    font-weight:500;
    width: fit-content;
}
.hi:hover{
    color : #19669c;
}
.hb{
    margin-top: 0px;
}
.bbtn{
    background-color: #53b418;
    color: white;
    font-size: 18px;    
    border: none;
    width: 345px;
    height: 53px;
    margin-top: 5%;
    font-weight: 700;
    box-shadow: 0.1px 0.7px 0.7px 0.1px #2a2a2a;
}
.bimg2{
    width: 346px;
    margin-top: 2%;
}
.cd {
    width: 50px;
    height: 300px
}
.bh1{
    font-size: 23px;
    font-weight: 720;
    color: #6481a1;
}



