.logo-div{
    width:100px;
    height:70px;
    background-color: rgb(255, 255, 255);
    margin-left: 2%;
}
body{
    background: #f4efe7;
    font-family:Arial, Helvetica, sans-serif;
}
.style-1{
    font-weight:700;
    color: #a1a1a1;
    font-size: 14px;
    margin-top: 2%;
}
.style-2{
    font-weight:700;
    color: #000000;
    font-size: 34px;
    margin-top: 2%;
}
.style-2-al1{

}
.nbd-align{
    margin-top: 25px;
    padding: 0px;
    width: fit-content;
    padding-left: 5px;
    padding-right: 20px;
}
.nbd-icon{
    margin-top: 21px;
    padding:0px;
    width: 18px;
}
.footer {
    background-color: #323231;
    height: 400px;
  }
  
  .footer a  {
    text-decoration: none;
  }

  .footer h6{
    color: #f8f6f3;
    margin-top: 50px;
  }
  pre{
    color: #f8f6f3;
  }
  .footer i{
        color: #ffffff;
        font-size: 30px;
       padding: 10px;
       float: right;
  }
  